{% extends 'blogs/base.html'%}
{% block content %}
<div class="col-12 mb-5">
<a class="btn btn-outline-primary" href="{% url 'client:client_list'%}">Назад</a>
</div>
<div class="col-md-6">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object }}</p>
            <p class="card-text">{{ object.email }}</p>
            <p class="card-text">{{ object.comment }}</p>
            {% if object.is_active %}
                <p class="card-text">Активен</p>
            {% else %}
                <p class="card-text">Не активен</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}